.beta-banner {
  background-color: #f47738;
  padding-bottom: 8px;
  padding-top: 8px; }

.beta-banner p {
  color: #0B0C0C;
  font-family: "nta",Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
  text-transform: none; }

.beta-banner strong {
  font-weight: bold; }

.beta-banner a, .beta-banner a:link, .beta-banner a:visited, .beta-banner a:active {
  color: #0B0C0C; }

.days-of-week .form-group .block-label {
  /* need min width for large screens */ }

table.date-period {
  /* style tables foir time periods differently */ }

ol.bulleted {
  list-style-type: none; }
  ol.bulleted li {
    margin-bottom: 1em;
    padding-left: 2.5em; }
  ol.bulleted li:nth-child(1) {
    background: url("/static/public/images/icons/icon-steps/icon-step-1.png") no-repeat 3px 5px; }
  ol.bulleted li:nth-child(2) {
    background: url("/static/public/images/icons/icon-steps/icon-step-2.png") no-repeat 3px 5px; }
  ol.bulleted li:nth-child(3) {
    background: url("/static/public/images/icons/icon-steps/icon-step-3.png") no-repeat 3px 5px; }
    
/* Prototype */
.text{
	width:auto;
}
.maincontent, .sidebar{
	float:left;
	display:block;
	max-width: 30em;
}
.sidebar{
	margin-top:45px;
	margin-left: 30px;
	width: 15em;
}
.swatch-light-blue,
.sidebar .swatch-yellow{
	padding:10px;
	font-size:14px;
}
 @media (min-width: 641px) {
	.inner-block {
		margin-right:0;
	}
}

